{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="Layout_mainWrapper">
    <h1 style="padding: 5%"> Welcome to FictionReader </h1>
    <div class="main-feed">
        <nav>
            <ul>
            </ul>
        </nav>
        <div class="main-feed-poster">
            <img src=""> *Feed Poster* </img>
        </div>
        {% for category in categories %}
        <div class="feed-section">
            <div class="category-header">
                <img src="{% static 'media/tagimage.svg' %}"> </img>
                <span><h2>{{category.name}}</h2></span>
            </div>
            <br>
            <div class="feed-wrapper">
                <div class="feed-grid-container">
                    {% for fiction in category.fictions.all %}
                    <div class="fiction-card-small">
                        <a href="{% url 'fiction_page' fiction.id %}">
                            <img src="{{ fiction.poster.url }}" 
                            class="fiction-thumbnail-small"></img>
                        </a>
                        <a class="fiction-title-small" href="{% url 'fiction_page' fiction.id %}">
                            {{fiction.title}}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}