{% extends 'main.html' %}

{% block content %}

<h1> Welcome to Mangas </h1>

<div class="Layout_mainWrapper">
    <div class="main-feed">
        <nav>
            <ul>
            </ul>
        </nav>
        <div>
            <img src=""> Feed Poster </img>
        </div>

        {% for category in categories %}
        <div>
            <div>
                <img src=""> </img>
                {{category.name}}
            </div>
            <div>
                {% for fiction in category.fictions %}
                <a href="{% url 'fiction_page' fiction.id %}">
                    <img src=""> {{fiction.poster}} </img>
                    {{fiction}}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}